{%extends "index.html"%}
{%load static%}
{%block body%}

<style>
	.bimg{
		height:400px;
	}
</style>
<a id="qodef-back-to-top" href="#">
	<span class="qodef-btt-text">TOP</span>
</a>
<div class="qodef-content">
	<div class="qodef-content-inner">
		
		<div class="qodef-container qodef-default-page-template">
			<div class="qodef-container-inner clearfix">
				<div class="qodef-grid-row qodef-grid-large-gutter">
					<div class="qodef-page-content-holder qodef-grid-col-9">
						<section class="wpb-content-wrapper">
							<div class="vc_row wpb_row vc_row-fluid vc_custom_1540204295376">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner">
										<div class="wpb_wrapper">
											<div class="qodef-section-title-holder ">
												<div id="carouselExampleFade" class="carousel slide carousel-fade">
													<div class="carousel-inner">
														{%if data.pic1%}
													  <div class="carousel-item active">
														<img src="{{data.pic1.url}}" class="d-block w-100 bimg" alt="{{data.name}}">
													  </div>
													  {%endif%}
													  {%if data.pic2%}
													  <div class="carousel-item">
														<img src="{{data.pic2.url}}" class="d-block w-100 bimg" alt="{{data.name}}">
													  </div>
													  {%endif%}
													  {%if data.pic3%}
													  <div class="carousel-item">
														<img src="{{data.pic3.url}}" class="d-block w-100 bimg" alt="{{data.name}}">
													  </div>
													  {%endif%}
													  {%if data.pic4%}
													  <div class="carousel-item">
														<img src="{{data.pic4.url}}" class="d-block w-100 bimg" alt="{{data.name}}">
													  </div>
													  {%endif%}
													  {%if data.pic5%}
													  <div class="carousel-item">
														<img src="{{data.pic5.url}}" class="d-block w-100 bimg" alt="{{data.name}}">
													  </div>
													  {%endif%}
													</div>
													<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
													  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
													  <span class="visually-hidden">Previous</span>
													</button>
													<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
													  <span class="carousel-control-next-icon" aria-hidden="true"></span>
													  <span class="visually-hidden">Next</span>
													</button>
												  </div>
												<div class="qodef-st-inner" style="margin-top: 40px;">
													<div class="qodef-widget-title-holder">
														<h5 class="qodef-widget-title">{{data.name}}</h5>
													</div>
													<p>Duration:<span style="font-size:20px;color:green;font-weight:bold"> {{data.total_day}} </span>&nbsp;&nbsp;&nbsp;
									                <span>Start From <span style="font-size:20px;color:green;font-weight:bold">{{data.start_from}} To {{data.end_to}}</span>
									                <a href="{{data.package_pdf.url}}" class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp; Download PDF</a></p>
													<h3 class="qodef-st-title">
														Description </h3>
													<p class="qodef-st-text" style="margin-top: 18px">
														{{data.description}} </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="vc_row wpb_row vc_row-fluid vc_custom_1536834091013">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner">
										<div class="wpb_wrapper">
											<div class="wpb_text_column wpb_content_element ">
												<div class="wpb_wrapper">
													<h3>Heighlights</h3>
													<p>{{data.highlight|safe}}</p>
												</div>
												<div class="wpb_wrapper">
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<div class="accordion accordion-flush" id="accordionFlushExample">
							<div class="accordion-item">
							  <h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								  {{data.day1_title}}
								</button>
							  </h2>
							  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">{{data.day1_description}}</div>
							  </div>
							</div>
							<div class="accordion-item">
							  <h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
									{{data.day2_title}}
								</button>
							  </h2>
							  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">{{data.day2_description}}</div>
							  </div>
							</div>
							<div class="accordion-item">
							  <h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
									{{data.day3_title}}
								</button>
							  </h2>
							  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">{{data.day3_description}}</div>
							  </div>
							</div>
							<div class="accordion-item">
							  <h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
									{{data.day4_title}}
								</button>
							  </h2>
							  <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">{{data.day4_description}}</div>
							  </div>
							</div>

							<div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day5_title}}
								  </button>
								</h2>
								<div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day5_description}}</div>
								</div>
							  </div>
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day6_title}}
								  </button>
								</h2>
								<div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day6_description}}</div>
								</div>
							  </div>
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day7_title}}
								  </button>
								</h2>
								<div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day7_description}}</div>
								</div>
							  </div>
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day8_title}}
								  </button>
								</h2>
								<div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day8_description}}</div>
								</div>
							  </div>
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day9_title}}
								  </button>
								</h2>
								<div id="flush-collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day9_description}}</div>
								</div>
							  </div>
							  {%if data.day10_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day10_title}}
								  </button>
								</h2>
								<div id="flush-collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day10_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day11_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day11_title}}
								  </button>
								</h2>
								<div id="flush-collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day4_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day12_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day12_title}}
								  </button>
								</h2>
								<div id="flush-collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day12_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day13_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day13_title}}
								  </button>
								</h2>
								<div id="flush-collapse13" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day13_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day14_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day14_title}}
								  </button>
								</h2>
								<div id="flush-collapse14" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day14_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day15_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day15_title}}
								  </button>
								</h2>
								<div id="flush-collapse15" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day15_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day16_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day16_title}}
								  </button>
								</h2>
								<div id="flush-collapse16" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day16_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day17_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse17" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day17_title}}
								  </button>
								</h2>
								<div id="flush-collapse17" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day17_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day18_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse18" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day18_title}}
								  </button>
								</h2>
								<div id="flush-collapse18" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day18_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day19_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse19" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day19_title}}
								  </button>
								</h2>
								<div id="flush-collapse19" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day19_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day20_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse20" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day20_title}}
								  </button>
								</h2>
								<div id="flush-collapse20" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day20_description}}</div>
								</div>
							  </div>
							  {%endif%}
							  {%if data.day21_title%}
							  <div class="accordion-item">
								<h2 class="accordion-header">
								  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse21" aria-expanded="false" aria-controls="flush-collapseThree">
									  {{data.day21_title}}
								  </button>
								</h2>
								<div id="flush-collapse21" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								  <div class="accordion-body">{{data.day21_description}}</div>
								</div>
							  </div>
							  {%endif%}

						  </div>
					</div>
					<div class="qodef-sidebar-holder qodef-grid-col-3">
						<aside class="qodef-sidebar">
							<div class="widget qodef-separator-widget">
								<div
									class="qodef-separator-holder clearfix  qodef-separator-center qodef-separator-normal">
									<div class="qodef-separator" style="border-style: solid;margin-top: 0px"></div>
								</div>
							</div>
							
							<div class="widget qodef-separator-widget">
								<div
									class="qodef-separator-holder clearfix  qodef-separator-center qodef-separator-normal">
									<div class="qodef-separator" style="border-style: solid;margin-top: 10px"></div>
								</div>
							</div>
							
							<div class="widget widget_text">
								<a href="/book-now/{{data.id}}" class="btn btn-primary">Book Now</a>
								<div class="textwidget mt-2">
									{%if data.location_image%}
									<a href="{{data.location_image.url}}"><img src="{{data.location_image.url}}"></a>
								{%endif%}
								</div>
								<div class="textwidget">
									<h3>Attraction:</h3>
									<p>{{data.attraction|safe}} </p>
								</div>
							</div>
							
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{%endblock%}