{%extends 'home.html'%}
{%load static%}
{%block body%}

    <!-- My Account Section Start -->
    <div class="section section-padding form-control">
        <div class="container">
            <div class="row ">

                <!-- My Account Tab List Start -->
                <div class="col-lg-2 col-12 bg-dark p-1">
                    <div class="myaccount-tab-list nav">
                        <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard <i class="far fa-home"></i></a>
                        <a href="#orders" data-bs-toggle="tab">Booking <i class="far fa-file-alt"></i></a>
                       
                        <a href="/logout">Logout <i class="far fa-sign-out-alt"></i></a>
                    </div>
                </div>
                <!-- My Account Tab List End -->

                <!-- My Account Tab Content Start -->
                <div class="col-lg-10 col-12 ">
                    <div class="tab-content">

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade show active" id="dashboad">
                            <div class="myaccount-content dashboad">
                                
                                <div class="table-responsive">
                                    <table class="table border">
                                        <tbody>
                                            <tr>
                                                <h2>Profile Section</h2>
                                                
                                            </tr>
                                            <tr>
                                                <td>Name</td>
                                                <td>{{user.name}}</td>
                                                
                                            </tr>
                                            
                                            <tr>
                                                <td>Email</td>
                                                <td>{{user.email}}</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Phone</td>
                                                <td>{{user.phone}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{user.address}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <a href="/update-profile/{{user.id}}" style="margin-left:30%">Update Profile <i class="far fa-edit"></i></a>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade" id="orders">
                            <div class="myaccount-content order">
                                <div class="table-responsive">
                                    <table class="table border">
                                        <thead>
                                            <tr>
                                                <h2>My Booking</h2>
                                                
                                            </tr>
                                            <tr>
                                                <th>Order</th>
                                                <th>Package</th>
                                                <th>Total</th>
                                                <th>Date</th>
                                                 <th>Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for item in orders%}
                                            <tr>
                                                <td>{{item.id}}</td>
                                                <td>{{item.package.name|slice:"50"}}...</td>
                                                <td>{{item.final}}</td>
                                                <td>{{item.date}}</td>
                                                 <td><a href="/{{item.package.name|slugify}}/{{item.package.id}}" target="_blank">View</a></td> 
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        
                        <!-- Single Tab Content End -->

                        
                    </div>
                </div> <!-- My Account Tab Content End -->
            </div>
        </div>
    </div>
    <!-- My Account Section End -->
{%endblock%}